%h1 Dashboard


      
- if @profile.aasm_current_state == :denied
  .notice
    %p
      Your profile was denied.
      %br
      %br
      %strong Reason:
      %br
      %quoto= @profile.deny_info.reason
      
- unless [:new, :denied].include?(@profile.aasm_current_state)
  .notice
    Your profile is in review. You can not edit your profile now.


%br   
.header3 Profile Status
%p
  = profile_message(@profile)

%hr
%p= link_to 'View my profile', educatee_profile_path, :class => "button"
    
    