.project
.loadpath
coverage
Capfile
log
db/*.sqlite3
.tmp*
*.ttf
*.*~
tmp/**/*
vendor/gems
vendor/rails
public/system
public/upload
public/stylesheets/compiled
.DS_Store
*.esproj
db/development.sqlite3.draw_text
db/development.sqlite3.old
public/test.csv
tmp/
