%tr
  - Element.display_columns.each do |column|
    %td
      - if column.is_title
        = link_to profile.title, educator_profile_path(profile)
      - else
        = profile.send(:"#{column.key}")
  %td= profile.status