%h1= "Edit #{@page.title}"
- if @profile.can_edit_by_educator
  = render "educatee/profiles/form"
- else
  %p
    %strong You can not edit this profile
  %p
    = link_to 'Back', :back, :class => "button"
