%h1 Dashboard
.notice
  %p
    There are 6 profiles in editing.
  
- if @educator.operator?
  .notice
    %p
      %h4 Management
      %ul
        %li= link_to "Manage Educators", educator_educators_path

.header3 Recently Submitted Profiles
%p
  = render 'educator/profiles/records', :profiles => @profiles

%hr
= link_to 'All Profiles', educator_profiles_path