%h1 Dashboard
.box
  to do something here
  
  - if @educator.operator?
    %p
      %h4 Management
      %ul
        %li= link_to "Manage Educators", educator_educators_path

%h2 Submitted Profiles
= render 'educator/profiles/records', :profiles => @profiles
      
= link_to 'All Profiles', educator_profiles_path