- values = eval(element.params)[:values]
- values = values.invert if values.kind_of?(Hash)

%p
  = form.label element.key, element.title_cn
  %br/
  - values.each do |value|
    = form.radio_button(element.key, value) + value