- values = ["Set params to {:values => ['Value 1','Value 2']}"]
- values = eval(element.params)[:values] unless (element.params.blank? || element.params.nil? )


- values = values.invert if values.kind_of?(Hash)

%p
  = form.label element.key, element.title_cn
  %br/
  = form.select element.key, values