- form_for @profile, :url => @submit_path, :html => { :multipart => true} do |form|
  %fieldset.inputs
    = make_form_for(@elements, form, @profile)
  %fieldset.buttons
    %p= submit_tag "Save", :class => "commit"