- form_for @profile, :url => @submit_path, :html => { :multipart => true} do |form|
  %table.formInfo
    = make_form_for(@elements, form, @profile)
    %tr
      %td.buttons
      %td.buttons= submit_tag "Save", :class => "commit"