%h1= "Profile"

= render 'display'


= @profile.aasm_current_state.to_s

- if current_educatee
  - if @profile.aasm_events_for_current_state.include?(:submit)
    = link_to 'Submit', '', :class => "button"
